.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 200px;
    max-height: 250px ;
}

.youtube_playlist {
    margin: 40px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.video-item{
    width: 30%;
}

.video-item.active{
    border: 2px solid red
}

.active-video {
    width: 65%;
}

.video-player {
    width: 90%;
    height: 500px;
    margin: 0 auto;
}

.video-player div {
    height: 100%;
}

.video-player iframe {
    width: 100%;
    height: 100%;
}

.playlist {
    width: 35%;
}
