.web-cam_tools {
  //position: absolute;
  //right: 0;
  //top: 0;

  .webcam {
    width: $open-left-sidebar-width - $left-sidebar-width;
    height: auto;
  }

  .canvas-hands{
    width: $open-left-sidebar-width - $left-sidebar-width;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
